.guideline-wrapper{
    color: $black;
    padding: 20px;
    width: 40vw;
    height: auto;
    
    .guideline {
        padding: 15px;
        font-weight: 600;
        font-size: 1.3em;
        height: auto;
    }
}

.guideline-button {
    @include buttonStyles;
}