.button-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    .top{
        padding: 10px;
        .question-buttons{
            font-size: 2em;
            margin: 10px;
            @include buttonStyles;
            font-size: 1.5rem;
            height: 70px;
            width: 75px;
        }
    }

    
}

.test-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .directions {
        font-size: 1.5rem;
    }

    .question-word {
        font-size: 2.5rem;
        font-family: 'Playfair Display', serif;
        padding: 30px;
        letter-spacing: 7px;
    }
}