.top_bar_wrapper {
    display: flex;
    height:80px;
    width: 100vw;
    justify-content: space-around;
    align-items: center;

    .logo-wrapper{
        height: 100%;
        display: flex;
        align-items: center;

        img {
            height: 50px;
        }
    }
    .value-assesment-title {
        color: $black;
        font-family: 'Playfair Display', serif;
        font-size: 1.5em;
    }
}

